# Ignore everything
# Because I don't want to track every application's configuration. Only a few.
*

# But not these files...
!.gitignore
!alacritty/
!dunst/
!fish/
!gtk-3.0/
!i3/
!keepassxc/
!polybar/
!systemd/
!nvim/
!starship.toml
# !script.pl
# !template.latex
# etc...

# ...even if they are in subdirectories
# !*/

# if the files to be tracked are in subdirectories
# !*/a/b/file1.txt
# !*/a/b/c/*
