rua/
google-chrome/
BraveSoftware/
syncthing/
syncthing-gtk/
dconf/
deluge/
evolution/
gedit/
gnome-boxes/
gnome-session/
goa-1.0/
ibus/
menus/
nautilus/
pulse/
wal/
xfce4/
Thunar/
polybar.old/
dleyna-renderer-service.conf
mimeapps.list
pavucontrol.ini
QtProject.conf
user-dirs.dirs
user-dirs.locale
